@media screen and (max-width: 1240px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2 {
    font-size: 32px;
  }

  .content-wrapper {
    height: 1080px;
    text-align: center;
  }

  .wrapper {
    padding-left: 24px;
    padding-right: 30px;
  }

  .card {
    width: 50%;
     margin: 1%;
  }
}

@media screen and (max-width: 670px) {
  footer {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: 1%;
  }

  header {
    height: 60px;
  }

  nav {
    display: none;
  }

  .main_nav {
    display: block;
  }

  header .h_logo {
    display: none;
}
  
  header .h_logo_r {
    display: block;
  }
}
