@media screen and (max-width: 1240px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2 {
    font-size: 32px;
  }

  .content-wrapper {
    height: 1080px;
    text-align: center;
  }

  .card {
    width: 50%;
     margin: 1%;
  }
}

@media screen and (max-width: 670px) {
  footer {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: 1%;
  }

  header {
    height: 80px;
  }
}
