/*

	DAFTAR ISI
	
	
	*****************************************
	
	
	- Fonts
	- General CSS
	- Header
	- 
	- 
	- 
	
*/

/*  Fonts  */
@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype'),
         url('fonts/Lato-Regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold.woff') format('woff'),
         url('fonts/Lato-Bold.ttf') format('truetype'),
         url('fonts/Lato-Bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HoneyLight';
    src: url('../fonts/honeyscript-light-webfont.eot');
    src: url('../fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honeyscript-light-webfont.woff') format('woff'),
         url('../fonts/honeyscript-light-webfont.ttf') format('truetype'),
         url('../fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}/*  General CSS  */
.wrapper{
	width: 1060px;
	height: auto;
	margin: 0 auto;
}

body {
    line-height: 1;
}

* {
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*  Header  */
header{
	width: 100%;
	height: 80px;
	background: #111111;
	color: rgba(255, 255, 255, 0.5);
	position: fixed;
    z-index: 9999;
    justify-content: space-between;
}

header .h_logo{
	float: left;
	margin-top: 10px;
}

header nav{
	float: right;
	margin-top: 0;
	overflow: hidden;
}
header nav ul li{
	float: left;
    margin-left: 60px;
    list-style: none;
}

header nav ul li a{
	text-decoration: none;
	font-family: 'LatoBold', arial;
	font-weight: bold;
	font-size: 16px;
	color: #fef8f1;
    letter-spacing: 1px;
    display: block;
    line-height: 80px;
    transition: all 0.5s;
    text-shadow: 0.5px 0.866px 2px rgba(0,0,0,0.1);
    position: relative;
    letter-spacing: 0.2px;
    padding-left: 16px;
    padding-right: 16px;
}

header nav ul li a:hover::after, header nav ul li a:focus::after{
    color: #ffffff;
    transition: all 0.5s;
}